@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
.close-btn{
  filter: invert(1);
}
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.split-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*Left Side div start*/
.left-side {
  flex: 1;
  color: #fff;
  padding: 20px;
  background-color: #000;
}
.content {
  margin-top: 10%;
  max-width: 100%;
}
.my-logo {
  height: 30px;
  margin-bottom: -5px;
}
/*end*/
.right-side {
  flex: 2;
  overflow-y: scroll;
  background-image: url(Images/Global/headshot-1.jpg);
  background-position: right;
  background-size: cover;
  overflow-x: hidden;
}
.right-side::-webkit-scrollbar {
    display: none;
}
.split-col {
  gap: 1rem;
}
section {
  padding: 50px;
}
.container{
  width: 100%;
  height: 100vh;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  display: flex;
  padding-bottom: 2%;
}
/*About Section start*/
.container-about {
  height: 100vh;
  width: 100%;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 4%;
}
.content-about {
  width: 100%;
  padding: 3% 3% 3% 3%;
  background-color: #0000006c;
  border-radius: 20px;
  border-width: 1px;
  border-color: #0000002d;
}
/*end*/
/*Experiences Section start*/
.container-experiences {
  height: 100vh;
  width: 100%;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 4%;
}
.exp-main-container {
  display: flex;
  background-color: #0000002d;
  padding: 3% 3% 3% 3%;
  width: 100%;
  border-radius: 20px;
}
.flex-wrap {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}
.float-ovals {
  color: #918868;
  background-color: #91886862;
  border-radius: 20px;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-size: .75rem;
}
.exp-main-container:hover .float-ovals {
  background-color: #918868;
  color: #fff;
}
.exp-main-container:hover {
  border-color: #fff;
  border-width: 1px;
  background-color: #91886828;
  border-radius: 20px;
}
/*end*/
/* Projects Section start */
.project-container {
  display: flex;
  background-color: #0000002d;
  padding: 3% 3% 3% 3%;
  width: 100%;
  border-radius: 20px;
}
.project-container:hover {
  background-color: #91886828;
  border-radius: 20px;
}
/* end */
/* Random Quote Generator start */
.container-projects {
  height: 100vh;
  width: 100%;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 4%;
}
.content-project {
  margin-top: 5%;
}
.container-rqg {
  text-align: center;
  height: 50%;
  background-color: #0000002d;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
  margin-top: 2em;
}
.body-rqg{
  overflow: hidden;
  background-color: #000;
  background-position: right;
  background-size: cover;
}
.rqg-h3 {
  color: #fff;
  font-size: 3rem;
}
.quote{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
/*end*/
.content h2{
  font-size: 48px
}
.content p{
  margin-top: 10px;
  line-height: 25px;
}
/* Navigation, Links & Buttons start */
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
}
a{
  color: #fff;
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  padding: .5rem 1rem;
  cursor: pointer;
}
.link {
  margin-top: 30px;
  font-weight: 600;
}
.link-noline {
  text-decoration: none;
}
.mobile-only {
  border-radius: 20px;
  padding: .5rem;
}
.btn-space {
  padding: 20px;
}
.btn{
  text-decoration:none;
  border: none;
  font-size:14px;
  font-weight: 600;
  cursor:pointer;
  line-height: 20px;
  letter-spacing: 2px;
}
.nav-items{
  display: flex;
}
.mobile-div .link {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em 0;
  padding: 1rem;
  cursor: pointer;
  width: 290px;
}
.rqg-section .link {
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  padding: 1rem;
  cursor: pointer;
  width: 200px;
}
.rqg-section .btn-center {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  padding: 1rem;
  cursor: pointer;
  width: 200px;
  margin: 1rem auto;
}
.about .link{
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em 0;
  padding: 1rem;
  cursor: pointer;
  width: 250px;
}
.button.type3 {
  color: #fff;
  cursor: pointer;
}
.button.type3.type3::after, .button.type3.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #918868;
  border-right-color: #918868;
}
.button.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #918868;
  border-left-color: #918868;
}
.button.type3.type3:hover:after, .button.type3.type3:hover:before {
  border-bottom-color: #918868;
  border-right-color: #918868;
  border-top-color: #918868;
  border-left-color: #918868;
  width: 100%;
  height: 100%;
}
/* end */
/* Paragraphs, Titles, Columns & Rows start */
.sdesktop-h2 {
  font-size: 2rem;
}
.mb-4 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #b0b1b3;
}
.mb-12 {
  margin-bottom: 1rem;
}
.mb-4 a {
  text-decoration: none;
}
.exp-col-txt {
  font-weight: 600;
  color: #c1c4ca69;
}
.col-1-span-1 {
  grid-column: span 2/span 2;
}
.col-2-span-1 {
  grid-column: span 6/span 6;
}
.exp-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.exp-col-1 {
  flex: 1;
  margin-left: 1rem;
}
.exp-col-2 {
  flex: .5;
}
.project-col-1 {
  flex: 1;
  margin-left: 2rem;
}
.project-col-2 {
  flex: 1;
}
h1, h2, h3, h4, h5 {
  margin-bottom: .5rem;
}
.project-img {
  width: 100%;
}
/* end */
/* Animations start */
.hidden-left{
  opacity:0;
  filter:blur(5px);
  transform:translateX(-100%);
  transition:all 1s
}
.hidden-right{
  opacity:0;
  filter:blur(5px);
  transform:translateX(100%);
  transition:all 1s
}
.show{
  opacity:1;
  filter:blur(0);
  transform:translateX(0)
}
.hidden-up{
  opacity:0;
  filter:blur(5px);
  transform:translateY(100%);
  transition:all 1s
}
.show3{
  opacity:1;
  filter:blur(0);
  transform:translateY(0)
}
.hidden{
  opacity:0;
  filter:blur(5px);
  transition:all 1s
}
.show4{
  opacity:1;
  filter:blur(0)
}
/* end */
/* Image Slider start */
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
  padding: 20px 20px 0 20px;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #918868;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background-color: #6e6545;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-radius: 20px;
  display: flex;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
}
.carousel {
  display: flex;
  overflow: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  margin-left: 14px;
}
.carousel-inner:first-child{
  margin-left: 0;
}
.carousel img:first-child{
  margin-left: 0px;
}
.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}
.zoom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.zoom-content img {
  max-width: 100%;
  max-height: 100%;
}
.title {
  font-size: 2rem;
  color: #b0b1b3;
}
.close-button {
  /* Your close button styles */
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  color: #918868;
  font-size: 50px;
  cursor: pointer;
}
/* end */

/* Animated Overlay start */
.myAOContainer{
  color: #b0b1b3;
}
.myAOContainer2{
  color: #b0b1b3;
}
.mobile-icon{
  width: 20px;
  height: 20px;
}
.project-container:hover .mobile-icon{
  filter:brightness(100);
  margin-left: 1rem;
  transition: .5s;
}
#overlayBackground{
  background-color:rgba(0,0,0,.75);
  position:fixed;
  z-index:200;
  top:0;
  left:0;
  width:100%;
  overflow-x:hidden;
  height:0%;
  transition:.5s;
  scroll-behavior:smooth;
}
#overlayBackground .overlayCloseButton{
  position:absolute;
  top:50px;
  right:50px;
  cursor:pointer;
}
#overlayBackground .overlayCloseButton img{
  width:35px;
  height:35px;
  transition:.3s;
}
#overlayBackground .overlayCloseButton:hover img{
  filter:invert(0.5);
}
@media(max-width: 768px){
  #overlayBackground .overlayCloseButton{
    top:30px;
    right:30px;
  }
    #overlayBackground .overlayCloseButton img{
      width:25px;
      height:25px;
    }
    }#overlayBackground .myAboutOverlay{
      position:relative;
      background-color:#000;
      width:100%;
      padding:50px 75px 100px;
      border-radius:3px;
    }
      #overlayBackground .myAboutOverlay .myAOTitle{
        font-size:60px;
        width:100%;
        text-align:center;
        margin-bottom:40px;
        color: #fff;
      }
      #overlayBackground .myAboutOverlay .myAOTitle2{
        font-size:40px;
        width:100%;
        text-align:center;
      }
      #overlayBackground .myAboutOverlay .aboutOverContainer{
        display:flex;
        justify-content:center;
        flex-direction:row;
        align-items:center;
        width:90%;
        margin:0 auto;
      }
      #overlayBackground .myAboutOverlay .aboutOverContainer .myAOText{
        background-color:#91886828;
        padding:50px 50px 50px 0;
        margin-right:-50px;
        z-index:5;
        padding-left: 50px;
        font-size:17px;
        color: #b0b1b3;
        border-radius: 20px;
      }
@media(max-width: 1024px){
  #overlayBackground .myAboutOverlay .aboutOverContainer{
    flex-direction:column-reverse;
  }
}
#overlayBackground .myAboutOverlay .myAOImg{
  width:100%;
  max-width:500px;
  height:auto;
  border-radius: 20px;
}
#overlayBackground .myAboutOverlay .myAOContainer{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  width:90%;
  margin:0 auto;
}
@media(max-width: 1460px){
  #overlayBackground .myAboutOverlay .myAOContainer{
    flex-direction:column
  }
}
@media only screen and (min-width: 1024px){
  .myAOEducational{
    margin-left: 10px;
  }
  .myAOSeminar{
    margin-right: 10px;
  }
}
@media(max-width: 768px){
  #overlayBackground .myAboutOverlay{
    padding:100px 25px 150px
  }
  #overlayBackground .myAboutOverlay .myAOTitle{
    font-size:40px;
    color: #fff;
  }
  #overlayBackground .myAboutOverlay .aboutOverContainer .myAOText{
    padding:20px;
    margin:0 auto;
    text-align:center}
  }
  .myAOEducational,.myAOSeminar{
    background-color:#91886828;
    backdrop-filter:blur(20px);
    width:100%;
    height:100%;
    padding:50px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    border-radius: 20px;
    color: #b0b1b3;
  }
@media(max-width: 768px){
  .myAOEducational,.myAOSeminar{
    padding:50px 30px
  }
}
.myEducTextContainer{
  text-align:left;
  position:relative;
  width:100%
}
@media(max-width: 768px){
  .myEducTextContainer{
    text-align:center
  }
}
.textContainer{
  width:100%;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin:20px auto
}
@media(max-width: 768px){
  .textContainer{
    justify-content:center;
    flex-direction:column;
    margin:20px auto 0px
  }
}
.educationText{
  font-size:15px;
  margin-top:10px
}
@media(max-width: 768px){
  .educationText{
    margin-top:5px;
    margin-bottom:50px
  }
}
.educationYear{
  font-size:12px;
  text-transform:uppercase;
  background-color:#91886862;
  color:#918868;
  border-radius: 20px;
  width:100%;
  max-width:115px;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-right: 0.375rem;
  font-weight: 600;
}
.hoverable-div:hover .educationYear{
  background-color: #918868;
  color: #fff;
}
@media(max-width: 768px){
  .educationYear{
    margin:0 auto;
    max-width:200px;
    margin-top:5px;
    padding:10px
  }
}
.educationTitle,.workName{
  font-size:22px;
  text-transform:uppercase;
}
.myAOContainer2{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction:column;
  width:100%;
  max-width:1390px;
  margin:85px auto 0;
  padding: 3rem 0;
  background-color: #91886828;
  border-radius: 20px;
}
.myAOContainer2 .myAOWorkExperience{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  width:100%;
  max-width:1300px
}
.myAOContainer2 .myAOWorkExperience .myAOWorkTextContainer{
  width:100%
}
.myAOContainer2 .myAOWorkExperience .lottie{
  width:100%;
  max-width:600px;
  filter:grayscale(1);
  margin:-10px 50px
}
.myAOContainer2 .workTitle{
  font-size:20px;
  margin-bottom:20px;
  margin-top:2px;
  font-family: 'Roboto', sans-serif;
}
.myAOContainer2 .workYear{
  font-size:16px;
  text-transform:uppercase;
  color: #918868;
  background-color: #91886862;
  border-radius:20px;
  width:100%;
  max-width:225px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  font-weight: 600;
}
.myAOContainer2 .myAOWorkTextContainer:hover .workYear{
  background-color: #918868;
  color: #fff;
}
@media(max-width: 768px){
  .myAOContainer2 .workYear{
    padding:10px;
    margin:5px 0
  }
}
.workContainer{
  width:100%;
  display:flex;
  justify-content:space-between;
  margin-top:20px
}
@media(max-width: 768px){
  .workContainer{
    flex-direction:column
  }
}
.workText{
  font-size:17px
}
@media(max-width: 768px){
  .workText{
    text-align:left
  }
}
@media(max-width: 768px){
  .workName,.workTitle{
    text-align:left;
  }
}
.AOLogoContainer img{
  width:50px;
}
.workList{
  font-size:17px;
  margin-left:50px;
}
@media(max-width: 768px){
  .workList{
    text-align:left;
    margin-left:35px
  }
}
.OAbutton{
  position:absolute;
  bottom:50px;
  right:50px;
  padding-bottom:18px
}
@media(max-width: 768px){
  .OAbutton{
    bottom:30px;
    right:30px;
    padding-bottom:10px
  }
}
#overlayProject01,#overlayProject02,#overlayProject03{
  background-color:rgba(0,0,0,.75);
  position:fixed;
  z-index:200;
  top:0;
  left:0;
  width:100%;
  overflow-x:hidden;
  height:0%;
  transition:.5s;
  scroll-behavior:smooth
}
#overlayProject01 .overlayCloseButton,#overlayProject02 .overlayCloseButton,#overlayProject03 .overlayCloseButton{
  position:absolute;
  top:50px;
  right:50px;
  cursor:pointer;
}
#overlayProject01 .overlayCloseButton img,#overlayProject02 .overlayCloseButton img,#overlayProject03 .overlayCloseButton img{
  width:35px;
  height:35px;
  transition:.3s
}
#overlayProject01 .overlayCloseButton:hover img,#overlayProject02 .overlayCloseButton:hover img,#overlayProject03 .overlayCloseButton:hover img{
  filter:invert(0.5);
}
@media(max-width: 768px){
  #overlayProject01 .overlayCloseButton,#overlayProject02 .overlayCloseButton,#overlayProject03 .overlayCloseButton{
    top:30px;
    right:30px
  }
  #overlayProject01 .overlayCloseButton img,#overlayProject02 .overlayCloseButton img,#overlayProject03 .overlayCloseButton img{
    width:25px;
    height:25px
  }
}

@media(max-width: 768px){
  .btn{
    padding:10px 20px;
    font-size:11px}
  } 
/*end*/
/*RESPONSIVE*/
@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

/* Media queries for 1367 below screen */
@media only screen and (max-width: 1366px) {
  .nav-items {
    text-align: left;
    margin-left: -10px;
  }
  .headshot{
    border-radius: 20px;
  }
  nav {
    display: block;
    padding: 20px 50px 50px 50px;
  }
  .my-logo {
    height: 60px;
    margin-bottom: -5px;
    margin-left: -10px;
  }
  .content h2{
    font-size: 30px;
  }
  .content-about {
    width: 65%;
    margin-bottom: 20px;
  }
  .logo {
    text-align: center;
  }
  .exp-col-1 {
    margin-left: 1rem;
  }
  .nav-items{
    display: flex;
    margin-left: 0;
    justify-content: space-around;
  }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
  .container{
    flex-direction: column;
    padding: 5% 2%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .wrapper {
    padding: 0;
  }
  nav {
    padding: 20px 0;
  }
  .li-item {
    margin-right: 0.375rem
  }
  .nav-items {
    display: flex;
    margin-left: 0;
    justify-content: space-around;
  }
  .logo {
    text-align: center;
  }
  .split-col {
    padding: 20px 20px 0;
  }
  section {
    padding: 0;
  }
  .left-side {
    flex: none;
    padding: 20px;
    background-color: #000;
    margin-top: 145px;
  }
  .right-side {
    flex: none;
    background-image: none;
    padding: 0;
    background-color: #000;
    overflow-y: hidden;
  }
  .content h2{
    font-size: 36px;
  }
  .content p{
    font-size: 14px;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  .container-about {
    padding-top: 10px;
    padding-right: 0;
    height: 100%;
  }
  .float-ovals {
    color: #918868;
    background-color: #91886862;
    border-radius: 9999px;
    padding: .5rem .75rem .5rem .75rem;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .content-about {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #91886828;
    margin-top: 0;
  }
  .about .link{
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em 0;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
  }
  .mobile-div .link {
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em 0;
    padding: 1rem;
    cursor: pointer;
    width: 100%
  }
  .rqg-h3{
    font-size: 5rem;
  }
  .container-experiences {
    padding: 20px;
    height: 100%;
  }
  .exp-col2 {
    margin-bottom:  0;
  }
  .mobile-h2 {
    font-size: 1rem;
  }
  .exp-main-container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .project-container{
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .container-rqg {
    margin-top: 0;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
    margin: 0;
  }
  .btn-space {
    padding: 0;
  }
  .exp-title {
    margin-bottom: 10px;
  }
  .body-rqg{
    background-color: #000;
    background-image: none;
    position: fixed;
    z-index: 999;
    margin: 20px;
  }
  body{
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .right-side::-webkit-scrollbar {
    display: block;
  }
  .container-projects {
    width: 100%;
    padding: 20px;
    padding: 0 20px 20px 20px;
    height: 100%;
  }
  .exp-col-1 {
    margin-left: 0;
  }
  .project-col-1 {
    margin-left: 0;
  }
  .project-col-2 {
    margin-bottom: 1rem;
  }
  .mobile-div {
    display: block;
  }
  .project-col-1 {
    margin-left: 0;
  }
  .about-row-2 {
    padding: .5rem;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 999;
  }
  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  #navbar li {
    padding: 10px;
  }
}

/* Media queries for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .container{
    flex-direction: column;
    padding: 5% 2%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .split-col {
    padding: 20px 20px 0;
  }
  nav {
    padding: 20px 0;
  }
  .li-item {
    margin-right: 0.375rem
  }
  .nav-items {
    display: flex;
    margin-left: 0;
    justify-content: space-around;
  }
  .logo {
    text-align: center;
  }
  .left-side {
    flex: none;
    padding: 20px;
    background-color: #000;
    margin-top: 140px;
  }
  .rqg-h3{
    font-size: 5rem;
  }
  .right-side {
    flex: none;
    background-image: none;
    padding: 0;
    background-color: #000;
    overflow-y: hidden;
  }
  .float-ovals {
    color: #918868;
    background-color: #91886862;
    border-radius: 9999px;
    padding: .75rem 1rem .75rem 1rem;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .content h2{
    font-size: 42px;
  }

  .content p{
    font-size: 16px;
  }
  .btn-space {
    padding: 0;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  .body-rqg{
    background-color: #000;
    background-image: none;
    position: fixed;
    z-index: 999;
    margin: 20px;
  }
  .container-about {
    padding-top: 10px;
    padding-right: 0;
    height: 100%;
  }
  .exp-col-1 {
    margin-left: 0;
  }
  .content-about {
    width: 100%;
    padding: 2% 2% 0 2%;
    background-color: #91886828;
  }

  .container-experiences {
    padding: 20px 20px 0 20px;
    height: 100%;
  }
  section {
    padding: 0 50px 0 50px;
  }
  .exp-main-container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .project-container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .container-rqg {
    margin-top: 0;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
    margin: 0 0 50px;
  }
  .float-ovals {
    color: #918868;
    background-color: #91886862;
    border-radius: 9999px;
    padding: .75rem 1rem .75rem 1rem;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .container-projects {
    width: 100%;
    padding: 20px;
    padding: 0 20px 20px 20px;
    height: 100%;
  }

  .exp-title {
    margin-bottom: 10px;
  }
  .btn {
    display: none;
  }
  body{
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .right-side::-webkit-scrollbar {
    display: block;
  }
  .project-col-1 {
    margin-left: 0;
    margin-top: 10px;
  }
  .about-row-2 {
    padding: .5rem;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 999;
  }
  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  #navbar li {
    padding: 10px;
  }
}
/*end*/