@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.split-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*Left Side div start*/
.left-side {
  flex: 1;
  color: #fff;
  padding: 20px;
  background-color: #000;
}
.content {
  margin-top: 10%;
  max-width: 100%;
}
/*end*/
.right-side {
  flex: 2;
  overflow-y: scroll;
  background-image: url(headshot-1.jpg);
  background-position: right;
  background-size: cover;
  overflow-x: hidden;
}
.right-side::-webkit-scrollbar {
    display: none;
}
.split-col {
  gap: 1rem;
}
section {
  padding: 50px;
}
.container{
  width: 100%;
  height: 100vh;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  display: flex;
  padding-bottom: 2%;
}
/*About Section start*/
.container-about {
  height: 100vh;
  width: 100%;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 4%;
}
.content-about {
  width: 100%;
  padding: 3% 3% 3% 3%;
  margin-top: 7%;
  background-color: #0000006c;
  border-radius: 20px;
  border-width: 1px;
  border-color: #0000002d;
  float: right;
}
/*end*/
/*Experiences Section start*/
.container-experiences {
  height: 100vh;
  width: 100%;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 4%;
}
.exp-main-container {
  display: flex;
  background-color: #0000002d;
  padding: 3% 3% 3% 3%;
  width: 100%;
  border-radius: 20px;
}
.flex-wrap {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}
.float-ovals {
  color: #918868;
  background-color: #91886862;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-size: .75rem;
}
.exp-main-container:hover .float-ovals {
  background-color: #918868;
  color: #000;
}
.exp-main-container:hover {
  border-color: #fff;
  border-width: 1px;
  background-color: #91886828;
  border-radius: 20px;
}
/*end*/
/* Random Quote Generator start */
.container-projects {
  height: 100vh;
  width: 100%;
  padding-top: 35px;
  padding-left: 0;
  padding-right: 4%;
}
.content-project {
  margin-top: 5%;
}
.container-rqg {
  text-align: center;
  height: 50%;
  background-color: #0000002d;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
  margin: 10%;
}
.body-rqg{
  overflow: hidden;
  background-image: url(headshot.jpg);
  background-color: #000;
  background-position: right;
  background-size: cover;
}
.rqg-h3 {
  color: #fff;
}
.quote{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.rqg-btn {
  border-color: #91886862;
  color: #918868;
  background-color: #91886862;
  border-radius: 26.5px;
  cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}
/*end*/
.content h2{
  font-size: 48px
}
.content p{
  margin-top: 10px;
  line-height: 25px;
}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span{
  color: #f9004d;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}
nav ul li a:hover{
  color: #f9004d;
}
a{
  color: #fff;
}
.link {
  margin-top: 30px;
  font-weight: 600;
}
.hire{
  color: #918868;
  background-color: #91886862;
  border-radius: 26.5px;
  cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
  text-decoration: none;
  font-weight: 600;
}
.link-noline {
  text-decoration: none;
}
.my-logo {
  height: 30px;
  margin-bottom: -5px;
}
.mb-4 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #b0b1b3;
}
.mb-12 {
  margin-bottom: 1rem;
}
.mb-4 a {
  text-decoration: none;
}
.exp-col-txt {
  font-weight: 600;
  color: #c1c4ca69;
}
.col-1-span-1 {
  grid-column: span 2/span 2;
}
.col-2-span-1 {
  grid-column: span 6/span 6;
}
.exp-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.exp-col-1 {
  flex: 1;
  margin-left: 1rem;
}
.exp-col-2 {
  flex: .5;
}
.project-col-1 {
  flex: 1;
  margin-left: 2rem;
}
.project-col-2 {
  flex: 1;
}
h1, h2, h3, h4, h5 {
  margin-bottom: .5rem;
}
.project-img {
  width: 100%;
}
/* Floating Button */
.floating-btn {
	color: #918868;
  background-color: #91886862;
  border-radius: 26.5px;
  cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
  text-decoration: none;
  font-weight: 600;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 999;
}
.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}
.mobile-only {
  border-radius: 20px;
  padding: .5rem;
}
.hidden-left{
  opacity:0;
  filter:blur(5px);
  transform:translateX(-100%);
  transition:all 1s
}
.hidden-right{
  opacity:0;
  filter:blur(5px);
  transform:translateX(100%);
  transition:all 1s
}
.show{
  opacity:1;
  filter:blur(0);
  transform:translateX(0)
}
.hidden-up{
  opacity:0;
  filter:blur(5px);
  transform:translateY(100%);
  transition:all 1s
}
.show3{
  opacity:1;
  filter:blur(0);
  transform:translateY(0)
}
.hidden{
  opacity:0;
  filter:blur(5px);
  transition:all 1s
}
.show4{
  opacity:1;
  filter:blur(0)
}
.project-container {
  display: flex;
  background-color: #0000002d;
  padding: 3% 3% 3% 3%;
  width: 100%;
  border-radius: 20px;
}
.project-container:hover {
  border-color: #fff;
  border-width: 1px;
  background-color: #91886828;
  border-radius: 20px;
}
.sdesktop-h2 {
  font-size: 2rem;
}
.btn-space {
  padding: 20px;
}
button {
  background: none;
  border: none;
}
#slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

#slider img {
  width: 100%;
  height: 100%;
  display: none;
}
/*end*/

/*RESPONSIVE*/
@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
  .mobile-btn {
    display: none;
  }
}
/* Media queries for 1367 below screen */
@media only screen and (max-width: 1366px) {
  .nav-items {
    text-align: left;
    margin-left: -10px;
  }
  nav {
    display: block;
    padding: 20px 50px 50px 50px;
  }
  .my-logo {
    height: 60px;
    margin-bottom: -5px;
    margin-left: -10px;
  }
  .content h2{
    font-size: 30px;
  }
  .content-about {
    width: 65%;
  }
  .logo {
    text-align: center;
  }
  .floating-btn {
    color: #918868;
    background-color: #91886862;
    border-radius: 26.5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: 600;
  }
  .exp-col-1 {
    margin-left: 1rem;
  }
  .nav-items{
    display: flex;
    margin-left: 0;
    justify-content: space-around;
  }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {

  .container{
    flex-direction: column;
    padding: 5% 2%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  nav {
    padding: 20px 0;
  }
  .li-item {
    margin-right: 0.375rem
  }
  .nav-items {
    display: flex;
    margin-left: 0;
    justify-content: space-around;
  }
  .logo {
    text-align: center;
  }
  .split-col {
    padding: 20px 20px 0;
  }
  section {
    padding: 0;
  }
  .left-side {
    flex: none;
    padding: 20px;
    background-color: #000;
    margin-top: 145px;
  }
  .right-side {
    flex: none;
    background-image: none;
    padding: 0;
    background-color: #000;
    overflow-y: hidden;
  }
  .content h2{
    font-size: 36px;
  }
  .content p{
    font-size: 14px;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  .link .hire{
    font-size: 12px;
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 26.5px;
    cursor: pointer;
    height: 100px;
    width: 100%;
  }
  .container-about {
    padding-top: 10px;
    padding-right: 0;
    height: 100%;
  }
  .float-ovals {
    color: #918868;
    background-color: #91886862;
    border-radius: 9999px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 2rem;
  }
  .content-about {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #474747;
    margin-top: 0;
  }
  .rqg-h3{
    font-size: 5rem;
  }
  .container-experiences {
    padding: 20px;
    height: 100%;
  }
  .exp-col2 {
    margin-bottom:  0;
  }
  .mobile-h2 {
    font-size: 1rem;
  }
  .exp-main-container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .project-container{
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .container-rqg {
    margin-top: 0;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
    margin: 0;
  }
  .mobile-btn {
    color: #918868;
    background-color: #91886862;
    border-radius: 26.5px;
    cursor: pointer;
    height: 100px;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
  }
  .btn-space {
    padding: 0;
  }
  .exp-title {
    margin-bottom: 10px;
  }
  .body-rqg{
    background-color: #000;
    background-image: none;
    position: fixed;
    z-index: 999;
    margin: 20px;
  }
  .floating-btn {
    display: none;
  }
  body{
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .right-side::-webkit-scrollbar {
    display: block;
  }
  .container-projects {
    width: 100%;
    padding: 20px;
    padding: 0 20px 20px 20px;
    height: 100%;
  }
  .exp-col-1 {
    margin-left: 0;
  }
  .project-col-1 {
    margin-left: 0;
  }
  .project-col-2 {
    margin-bottom: 1rem;
  }
  .mobile-div {
    display: block;
  }
  .link .hire {
    padding: 15px;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
  }
  .project-col-1 {
    margin-left: 0;
  }
  .about-row-2 {
    padding: .5rem;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 999;
  }
  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  #navbar li {
    padding: 10px;
  }
}

/* Media queries for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .container{
    flex-direction: column;
    padding: 5% 2%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .split-col {
    padding: 20px 20px 0;
  }
  nav {
    padding: 20px 0;
  }
  .li-item {
    margin-right: 0.375rem
  }
  .nav-items {
    display: flex;
    margin-left: 0;
    justify-content: space-around;
  }
  .logo {
    text-align: center;
  }
  .left-side {
    flex: none;
    padding: 20px;
    background-color: #000;
    margin-top: 140px;
  }
  .rqg-h3{
    font-size: 5rem;
  }
  .right-side {
    flex: none;
    background-image: none;
    padding: 0;
    background-color: #000;
    overflow-y: hidden;
  }
  .float-ovals {
    color: #918868;
    background-color: #91886862;
    border-radius: 9999px;
    padding: .75rem 1rem .75rem 1rem;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .content h2{
    font-size: 42px;
  }

  .content p{
    font-size: 16px;
  }
  .btn-space {
    padding: 0;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  .body-rqg{
    background-color: #000;
    background-image: none;
    position: fixed;
    z-index: 999;
    margin: 20px;
  }
  .link .hire{
    font-size: 14px;
    padding: 10px 24px;
  }

  .container-about {
    padding-top: 10px;
    padding-right: 0;
    height: 100%;
  }
  .exp-col-1 {
    margin-left: 0;
  }
  .content-about {
    width: 100%;
    padding: 2% 2% 0 2%;
    background-color: #91886828;
  }

  .container-experiences {
    padding: 20px 20px 0 20px;
    height: 100%;
  }
  section {
    padding: 0 50px 0 50px;
  }
  .exp-main-container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .project-container {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
  }
  .container-rqg {
    margin-top: 0;
    padding: 20px;
    border-color: #fff;
    border-width: 1px;
    background-color: #91886828;
    border-radius: 20px;
    margin: 0 0 50px;
  }
  .float-ovals {
    color: #918868;
    background-color: #91886862;
    border-radius: 9999px;
    padding: .75rem 1rem .75rem 1rem;
    margin-right: 0.375rem;
    margin-bottom: 0.375rem;
    line-height: 1.25rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .container-projects {
    width: 100%;
    padding: 20px;
    padding: 0 20px 20px 20px;
    height: 100%;
  }

  .exp-title {
    margin-bottom: 10px;
  }
  .floating-btn {
    display: none;
  }
  body{
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .right-side::-webkit-scrollbar {
    display: block;
  }
  .mobile-btn {
    color: #918868;
    background-color: #91886862;
    border-radius: 26.5px;
    cursor: pointer;
    height: 100px;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
  }
  .rqg-btn {
    color: #918868;
    background-color: #91886862;
    border-radius: 26.5px;
    cursor: pointer;
    height: 100px;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
  }
  .project-col-1 {
    margin-left: 0;
    margin-top: 10px;
  }
  .about-row-2 {
    padding: .5rem;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 999;
  }
  #navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  #navbar li {
    padding: 10px;
  }
}
/*end*/